
<div class="d-flex" id="wrapper">
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading" style="background-color:#000;color:#fff;">Your Company </div>
    <div class="list-group list-group-flush">
      <a class="list-group-item list-group-item-action bg-light" routerLink="/" >Dashboard</a>
      <a class="list-group-item list-group-item-action bg-light" routerLink="/employees">Employees</a>
      <a class="list-group-item list-group-item-action bg-light" routerLink="/projects">Projects</a>
      <a class="list-group-item list-group-item-action bg-light" routerLink="/log">Add Log</a>
    </div>
  </div>

  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">
      <!-- <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button> -->

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">

          <li class="nav-item active">
            <a class="nav-link" href="#">Log Time</a>
          </li>

        </ul>
      </div>
    </nav>

    <div class="container-fluid"><router-outlet></router-outlet></div>
  </div>
</div>
